
.footer {
  padding: 30px 0;
  color: #EEEEEE;
  position: unset;
  bottom:0;
  width:100%;
  height: auto;
  background-color: #262626;
  font-family: Bradley Hand, cursive;
  font-weight: bold;
  font-size: large;
}
.footer-contacts {
  float: left;
  min-height: 80px;
  width: 370px;
  margin-right: 35px;
}
.footer-telefone {
  float: left;
  min-height: 80px;
  width: 200px;
}
.footer-contato {
  float: right;
  min-height: 80px;
  width: 140px;
}
