<div class="fundo">
  <div class="container">
    <h1 class="card-header text-center">Cadastro</h1>
    <form class="card-body" [formGroup]="form" autocomplete="off">

      <div align="center">
        <label class="btn btn-dark active m-1">
          <input type="radio" value="CLIENTE" formControlName="tipoUsuario">
          <span>CLIENTE</span>
        </label>
        <label class="btn btn-dark m-1">
          <input type="radio" value="BARBEARIA" formControlName="tipoUsuario">
          <span>BARBEARIA</span>
        </label>
        <label class="btn btn-dark m-1">
          <input type="radio" value="FREELANCER" formControlName="tipoUsuario">
          <span>FREELANCER</span>
        </label>
      </div>

      <div *ngIf="this.form.get('tipoUsuario').value">
        <div class="row">
          <div class="col-md-12">
            <app-input id="nome" placeholder="Digite seu nome completo" label="Nome"
                       formControlName="nome"
                       [model]="form.get('nome')"></app-input>
          </div>
        </div>

        <div class="row" *ngIf="this.form.get('tipoUsuario').value != 'BARBEARIA'">
          <div class="col-md-6">
            <app-input id="cpf" label="CPF" placeholder="Apenas números"
                       formControlName="cpf"
                       minlength="11"
                       [model]="form.get('cpf')"></app-input>
          </div>
        </div>

        <div class="row" *ngIf="this.form.get('tipoUsuario').value === 'BARBEARIA'">
          <div class="col-md-6">
            <app-input id="cnpj" label="CNPJ" placeholder="Apenas números"
                       formControlName="cnpj"
                       [model]="form.get('cnpj')"
                       minlength="14"
            ></app-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <app-input id="telefone" placeholder="XX XXXXX-XXXX" label="Celular"
                       formControlName="telefone"
                       [model]="form.get('telefone')"></app-input>
          </div>
          <div class="col-md-6">
            <app-input id="telefone2" placeholder="XX XXXXX-XXXX" label="Telefone"
                       formControlName="telefone2"
                       [model]="form.get('telefone2')"></app-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <app-input id="email" label="Email" placeholder="email@email.com"
                       formControlName="email"
                       [model]="form.get('email')"></app-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Senha
            <input
              formControlName="senha"
              type="password"
              class="form-control"
              placeholder="Informe a senha">

            <!--          <app-input id="senha" placeholder="Informe a senha" label="Senha"-->
            <!--                     formControlName="senha"-->
            <!--                     [model]="form.get('senha')"></app-input>-->
          </div>
          <div class="col-md-6">
            Confirmar Senha
            <input
              formControlName="confirmaSenha"
              type="password"
              class="form-control"
              placeholder="Informe a senha">
            <!--          <app-input id="confirmaSenha" placeholder="Repita a senha" label="Confirmar Senha"-->
            <!--                     formControlName="confirmaSenha"-->
            <!--                     [model]="form.get('confirmaSenha')"></app-input>-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <app-input id="cep" placeholder="Apenas números" label="CEP"
                       formControlName="cep"
                       [model]="form.get('cep')"></app-input>
          </div>
          <div class="col-md-6">
            <button class="btn-info mt-4 p-2" (click)="consultaCep(form.get('cep').value)">Pesquisar</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <app-input id="logradouro" placeholder="" label="Rua"
                       formControlName="logradouro"
                       [model]="form.get('logradouro')"></app-input>
          </div>
          <div class="col-md-2">
            <app-input id="numero" placeholder="" label="Número"
                       formControlName="numero"
                       [model]="form.get('numero')"></app-input>
          </div>
          <div class="col-md-4">
            <app-input id="bairro" placeholder="" label="Bairro"
                       formControlName="bairro"
                       [model]="form.get('bairro')"></app-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <app-input id="cidade" placeholder="" label="Cidade"
                       formControlName="cidade"
                       [model]="form.get('cidade')"></app-input>
          </div>
          <div class="col-md-2">
            <app-input id="estado" placeholder="" label="Estado"
                       formControlName="uf"
                       [model]="form.get('uf')"></app-input>
          </div>
          <div class="col-md-4">
            <app-input id="complemento" placeholder="" label="Complemento"
                       formControlName="complemento"
                       [model]="form.get('complemento')"></app-input>
          </div>
        </div>


      </div>
      <div class="text-center">

        <div class="text-center m-3" *ngIf="this.form.get('tipoUsuario').value">
          <button (click)="cadastrar()" class="btn btn-dark btn-block" [disabled]="form.invalid">Cadastrar</button>
        </div>
        <div class="cancelar text-center m-3">
          <button (click)="cancelar()" class="btn btn-dark btn-block">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>












