<section class="navigation">

  <div class="nav-container">
    <div class="brand">
      <img [routerLink]="['home']" class  = "logo1" src = "../../../../assets/logo.png" width="80%">
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#!" [routerLink]="['barbearia','lista']">Barbearias</a>
        </li>
        <li>
          <a href="#!" [routerLink]="['freelancer','lista']">Freenlacers</a>
        </li>
        <li>
          <a href="#!" [routerLink]="['home']">Home</a>
        </li>
        <li *ngIf="usuario?.id != null">
          <a href="#!" [routerLink]="['/perfil/usuario']" [queryParams]="{id: usuario.id, tipoUsuario: usuario.tipoUsuario}">Perfil</a>
        </li>
        <li *ngIf="usuario?.id == null">
          <a href="#!" [routerLink]="['login']">Login</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
